<!DOCTYPE html>
<html html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administrate</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" href="/css/mystyle.css" th:href="@{css/uiStyles.css}" />
</head>
<body>
<div class="page">
    <div class="pageHeader">
        <div class="title">Reserve Control</div>
        <div class="userPanel"><i class="fa fa-chevron-down"></i><span class="username">[[${#httpServletRequest.remoteUser}]]</span>
            <img src="https://s.tcdn.co/093/31b/09331bef-582c-347a-b01f-6932bbb08f6a/10.png" width="40" height="40"/></div>
    </div>
    <div class="main">
        <div class="nav">
            <div class="menu">
                <div class="title">Navigation</div>
                <ul>
                    <li><i class="fa fa-home"></i>Home</li>
                    <li><i class="fa fa-signal"></i>Managemant Tools</li>
                    <li class="active"><i class="fa fa-tasks"></i>Notifications</li>
                    <li><i class="fa fa-envelope"></i>Messages</li>
                </ul>
            </div>
        </div>
        <div class="view">
            <div class="viewHeader">
                <div class="title">Сотрудники</div>
                <div class="functions">
                    <div class="button active" onclick="javascript:PopUpShow()">Добавить сотрудника</div>
                    <div class="button inverz"><i class="fa fa-trash-o"></i></div>
                </div>
            </div>
            <div class="content">
                <div class="list">
                    <div class="title">Все</div>


                    <ul th:each = "employee : ${employeeList}">
                        <li><i class="fa fa-square-o"></i>
                            <!--/*@thymesVar id="employee" type="org.json.JSONObject"*/-->
                        <span th:text="${employee.get('lastName')} + ' '
                        + ${employee.get('firstName')} + ' '
                        +${employee.get('secondName')}"> </span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="mcontainer" id="popup1">
            <div class="messsage">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Добавить нового сотрудника
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form">

                            <div class="row fieldRow">
                                <div class="col-xs-2">
                                    <label for="lastName" class="fieldLabel">
                                        Фамилия:
                                    </label>
                                </div>
                                <div class="col-xs-10" id="lastNameContainer">
                                    <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Фамилия" />
                                </div>
                            </div>

                            <div class="row fieldRow">
                                <div class="col-xs-2">
                                    <label for="firstName" class="fieldLabel">
                                        Имя:
                                    </label>
                                </div>
                                <div class="col-xs-10" id="firstNameContainer">
                                    <input type="text" id="firstName" name="firstName" class="form-control" placeholder="Полное имя" />
                                </div>
                            </div>

                            <div class="row fieldRow">
                                <div class="col-xs-2">
                                    <label for="secondName" class="fieldLabel">
                                        Отчество:
                                    </label>
                                </div>
                                <div class="col-xs-10" id="secondNameContainer">
                                    <input type="text" id="secondName" name="secondName" class="form-control" placeholder="Отчество" />
                                </div>
                            </div>
                            <div class="row fieldRow">
                                <div class="col-xs-2">
                                    <label for="typeAccount" class="fieldLabel">
                                        Тип учётной записи:
                                    </label>
                                </div>
                                <div class="col-xs-10">
                                    <select id="typeAccount" name="typeAccount" class="form-control">
                                        <option th:value="1">
                                            Менеджер
                                        </option>
                                        <option th:value="2">
                                            Эксперт
                                        </option>
                                        <option th:value="3">
                                            Администратор
                                        </option>
                                        <option th:value="4">
                                            Менеджер-эксперт
                                        </option>
                                        <option th:value="5">
                                            Менеджер-администратор
                                        </option>
                                        <option th:value="6">
                                            Эксперт-администратор
                                        </option>
                                        <option th:value="7">
                                            Суперюзер
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="functions">
                        <div class="button exit" onclick="javascript:PopUpHide()">Отмена</div>
                        <div class="button accept">Добавить сотрудника</div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
<script>
    $(document).ready(function(){
        //Скрыть PopUp при загрузке страницы
        PopUpHide();
    });
    //Функция отображения PopUp
    function PopUpShow(){
        $("#popup1").show();
    }
    //Функция скрытия PopUp
    function PopUpHide(){
        $("#popup1").hide();
    }
</script>
</body>
</html>